@import url('https://fonts.googleapis.com/css?family=Raleway:400,900|Roboto:400,900');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all .3s;
}
body{
	background: #eeeeee;
}
.container{
	width: 1500px;
	height: 2665px;
	min-width: 800px;
	margin: 0 auto;
}
.header{
	width: 100%;
}
.header-wraper{
	width: 80%;
	margin: 0 auto;
	position: relative;
}
header a{
	color: #303030;
	text-decoration: none;
}
a:hover{
	color:#e10011;
}
.main-menu{
	display: block;
	width: 100%;
	height: 40px;
	margin: 40px 0 40px 0;

}
.name{
	color: #303030;
	font-family: "Roboto";
	font-size: 48px;
	font-weight: 900;
	line-height: 27px;
	letter-spacing: 1.2px;
	float:left;
}
.nav-menu{
	float:right;
	font-size: 0;
	list-style: none;
}
.nav-menu:after{
	clear:both;
}
.nav-menu li{
	float: left;
	padding-left: 45px;
	color: #303030;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: 0.45px;
}
.nav-menu li a{
	color: #303030;
	text-decoration: none;
}
.nav-menu li a:hover{
	color: #e10011;
}

.menu-img-button{
	width: 17px;
	height: 14px;
}
.front-line{
	height: 600px;
	display: flex;
}

.h-left{
	display: flex;
	flex-direction: column;
	align-items:flex-end;
	width: 51.6%;
	text-align: right;
}
.h-right{
	width: 48.4%;
}
.header-photo{
	width: 75%;
	padding-left: 100px;
}
.headline{
	color: #303030;
	font-family: "Raleway";
	font-size: 150px;
	font-weight: 900;
	line-height: 150px;
	text-transform: uppercase;
	letter-spacing: 3.75px;
}
.header-text{
	color: #303030;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: 0.6px;
}
.head-link{
	color: #303030;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0.6px;
	text-decoration: none;
}
.three-dots{
	width: 100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}
.three-dots a{
}
.dots{
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #303030;
	border-radius: 50%;
	transform: translateY(-50%);

}

.dots:hover{
	background-color: #e10011;
}
.dots:first-child{
	margin-left:0;
}
/*featured-product*/
.featured-product{
	background: #FFF;
	width: 1200px;
	height: 1200px;
	margin: 100px auto;
}
/*title style*/
.front-title{
	color: #303030;
	font-family: "Raleway";
	font-size: 48px;
	font-weight: 700;
	letter-spacing: 1.2px;
	padding-top: 30px;
}
.front-title-text{
	color: #303030;
	font-family: "Raleway";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.45px;
	text-align: center;
}
.grid-title{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.grid-title img{
	margin: 18px 0 12px 0;
}
/*grid styles*/

.grid-container{
	width: 1200px;
	height: 1200px;
	margin: 100px auto;
	display: grid;
	grid-template-columns:31.39% 31.39% 31.39%;
	grid-template-rows: 23.08% 35.16% 35.16%;
	grid-gap: 2.91%;
	padding: 6%;


}
.title-wraper{
	grid-column:1/4;
	justify-content: center;
}
.product.two-colums {
	grid-column:1/3;
}

.product{
	height: 100%;
	width: 100%;
	overflow: hidden;
	border-radius: 5px;
	position: relative;
}
.product img{
	height: 100%;
	width: auto;
	object-fit: cover;

}
.hover-backgroung{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(225,0,17, 1);
	right: 100%;
	top: 0;
}
.hover-text{
	position: absolute;
	color: #ffffff;
	font-family: "Roboto";
	font-size: 30px;
	font-weight: 700;
	left: 11.28%;
	bottom: 14.98%;

}
.hover-text p:last-child::after{
	border-bottom: 5px solid #fff;

}
.product:hover .hover-backgroung{
	right:0;
}
/*NEWS ssection*/
.news{
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-content: center;
}
.news-title{
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
.news-title-header{
	color: #303030;
	font-family: "Raleway";
	font-size: 48px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}
.news-text{
	padding: 10px 0 30px;
	color: #303030;
	font-family: "Raleway";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.45px;
}
/*NEWS input EMAIL*/
.email-wraper{
	margin: 0 auto;
	text-align: center;
	width: 58%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}
.email-input, button{
	border: none;
	line-height: 70px;

}
.email-input{
	width: 70%;
	border-radius: 50px 0 0 50px;


}
.email-input::placeholder{
	padding-left: 25px;
	color: #979797;
	font-family: "Raleway";
	font-size: 18px;
	line-height: 40px;
	font-weight: 400;
	font-style: italic;
	letter-spacing: 0.45px;
}

button{
	width: 30%;
	border-radius: 0  50px 50px  0;
	background: #e10011;
	/*font style*/

	color: #ffffff;
	font-family: "Roboto";
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;

}
button span{
	font-family: "FontAwesome";
}
button:hover{
	background: #979797;
}


/*foofer*/
.copyright{
	margin: 100px auto;
	width: 50%;
	text-align: center;
	color: #979797;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.45px;
}
.copyright span{
	color: #303030;
	letter-spacing: 0.45px;
}
